<app-header-component></app-header-component>
<h1>La consteña</h1>
<h3>Proposito de la empresa</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae sunt ab et libero quam laborum dolorum
  vitae asperiores! Placeat voluptatum veritatis reprehenderit beatae cupiditate perferendis, eos voluptas veniam vero!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corporis ex sapiente fugit, aliquid eligendi nisi vero
  nobis eveniet maiores ullam repellendus natus culpa ea maxime similique laboriosam et porro!
</p>
<h4>A quien va dirigido</h4>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, ipsam veritatis adipisci rem alias nulla? Facere
  quas, quae inventore iste molestiae doloremque, quia dolorem voluptas ullam iusto temporibus et neque. Lorem ipsum
  dolor sit amet consectetur adipisicing elit. Voluptatum optio exercitationem sit, est debitis itaque perferendis
  molestias aperiam ratione consequuntur rem iusto earum dolores id cumque placeat doloremque libero quos?</p>
<router-outlet></router-outlet>
<app-footer-component></app-footer-component>
